# Unity 项目与临时文件
[a-zA-Z0-9]*[a-zA-Z0-9]_Data/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# IDE 与系统文件
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.DS_Store
.DS_Store?
thumbs.db
